html, body
{
	margin: 0;
	padding: 0;
	background: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.emote
{
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: contain;
	transform-origin: 50% 50%;
	user-select: none;
}

.train
{
	z-index: 200;
	position: absolute;
	left: 0;
	bottom: 0;
	width: fit-content;
	white-space: nowrap;
	transform-origin: 50% 50%;
	user-select: none;
}
.cart, .locomotive
{
	object-fit: contain;
	transform-origin: 50% 50%;
	animation: cartWiggleEven infinite alternate 400ms linear;
}
.cart:nth-child(odd), .locomotive:nth-child(odd) {
	animation-name: cartWiggleOdd;
}
@keyframes cartWiggleEven {
	from {
		rotate: -10deg;
		translate: 0 10px;
	}
	to {
		rotate: 10deg;
		translate: 0 -10px;
	}
}
@keyframes cartWiggleOdd {
	from {
		rotate: 10deg;
		translate: 0 -10px;
	}
	to {
		rotate: -10deg;
		translate: 0 10px;
	}
}

.error
{
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin: 20px;
	padding: 20px;
	max-width: 30%;
	font: 20px sans-serif;
	color: #1f0207;
	background-color: #f3a69f;
	border-radius: 20px;
	user-select: none;
}
